**__pycache__
.idea
**.ipynb_checkpoints/
.env
**venv/
/db/*.sqlite3
*.sqlite3
/db/*.sqlite
*.sqlite
cache
*.bak
*.dat
*.dir
celerybeat-schedule.dir
celerybeat-schedule.dat
celerybeat-schedule.bak
*.bak*
*.dat*
*.dir*