<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>TODOS</h1>
    <table>
        <tr>
            <th>userId<th>
            <th>id<th>
            <th>title<th>
            <th>completed<th>
        </tr>


        {% for todo in todos %}
        <tr>
            <td>{{todo.userId}}</td>
            <td>{{todo.id}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.completed}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>